main {
  @extend .py-4;
}

footer {
  @extend .pt-4;

  border-top: $hr-border-width solid $hr-border-color;

  h2 {
    @extend .h5;
  }

  .row {
    @extend .text-muted;
  }

  .contact-list, .social-media-list {
    @extend .list-unstyled;
  }
}

.home {

  h1 {
    @extend .h2;
    @extend .mb-4;
  }

  h2 {
    @extend .h3;
  }

  h3 {
    @extend .h4;
  }

  h4 {
    @extend .h5;
  }

  h5 {
    @extend .h6;
  }

  ul {
    @extend .list-unstyled;
  }

  li {
    @extend .mb-4;
  }

  span {
    @extend .small;
    @extend .text-muted;
  }
}

article {

  header {

    p {
      @extend .text-muted;
    }
  }
}

.icon > svg {
  vertical-align: middle;

  path {
    fill: $gray-600;
  }
}

.social-media-list {
  .icon {
    @extend .mr-1;
  }
}
