$code-bg: #eef;
$code-color: $gray-900;
$code-font-size: 93.75%;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$kbd-bg: #77f;
$kbd-color: $white;

$pre-bg: $code-bg;
$pre-color: $code-color;
