<header role="banner">
  <nav class="my-navbar">
    <div class="container">
      <a class="my-navbar-brand" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
      <button class="my-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="my-navbar-toggler-icon"></span>
      </button>

      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      {% if page_paths %}
      <div class="my-navbar-collapse" id="navbar">
        <div class="my-navbar-nav">
          {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.title %}
          <a class="my-navbar-item-link{% if my_page.path == page.path %} active{% endif %}" href="{{ my_page.url | relative_url }}">
            {{ my_page.title | escape }}
            {% if my_page.path == page.path %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
</header>
